* {
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  font-family: "helveticaneuecyrlight", Tahoma;
}
.header {
  height: 35px;
  width: 100%;
  background-color: #085392;
}
.header-form {
  display: block;
  padding: 20px;
  color: #e2e2e2;
  font-size: 24px;
}
.menu {
  float: right;
  border-right: 1px solid #56a2dc;
  height: 35px;
}
.minhas {
  float: right;
  height: 35px;
  width: 135px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.minhas p{
  margin-top: 10px;
}
.img-flag {
  padding: 5px;
  float: left;
}
.ola {
  float: right;
  height: 35px;
  background-color: #4aa6d8;
  margin-right: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.ola p{
  margin-top: 10px;
}
.ola a {
  color: white;
}
ul.menu li {
  display: inline-block;
  padding: 9px;
  vertical-align: middle;
}
ul.menu li:hover {
  background-color: #4eabda;
  color: #e3f0f8;
}
ul.menu li:hover a{
  color: #e3f0f8;
}

ul.menu li a {
  color: #60b5ed;
  text-decoration: none;
  font-size: 14px;
}
input {
  background: #0f0f0f;
  color: white;
  padding: 5px;
  margin: 8px;
  width: 280px;
  outline: none;
  border: 0;
}
[type="checkbox"] {
  width: 13px;
}
.label-checkbox {
  color: white;
}
[type="submit"] {
  padding: 10px;
  width: 150px;
  border: 1px solid #6bb8e7;
  border-radius: 5px;
  background: linear-gradient(to top, #2e7bc4, #4ca9d9);
  cursor: pointer;
  margin-top: 25px;
}
input:focus {
  background: #1b5288;
  box-shadow: 0 0 5px #4a7995;
  outline: none;
}
.form-div {
  width: 500px;
  height: 600px;
  background-color: rgba(0,0,0,0.63);
  margin: 0 auto;
  margin-top: 100px;
}
.form-div p {
  font-size: 11px;
  color: #cccccc;
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
}
.form-cadastre {
 text-align: center;
}
.ou {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    color: #999999;
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ou > span {
    display: inline-block;
    margin: 0 .4em;
  }
  .ou > span:before,
  .ou > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
  }
  .ou > span:before {
    margin-left: -102%;
  }
  .ou > span:after {
    margin-left: 2%;
  }
  .log-in-face {
    display: block;
    width: 275px;
    height: 35px;
    background-color: #334881;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 5px;
  }
  .log-face {
    float: left;
    border-right: 1px solid #243b6f;
    height: 35px;
    width: 30px;
  }
  .log-face img {
    margin-top: 5px;
  }
  .text-fb {
    float:left;
    margin-top: 8px;
    margin-left: 20px;
    color: white;
    font-size: 16px;
  }
  .face-go img{
    margin-top: 10px;
  }
